@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Modern Negra";
  src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

@theme {
  --color-yellow: #d4a373;
  --color-white-100: #f5ebd9;
  --color-vintage-brown: #2b1b11;
  --color-vintage-dark: #1f1209;
  --font-sans: "Mona Sans", sans-serif;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-serif: "DM Serif Text", serif;
}

html,
body {
  width: 100%;
  background-color: #2b1b11;
  color: #f5ebd9;
  overflow-x: hidden;
  overscroll-behavior: none;
}

@utility glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@utility text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  color: transparent;
}

@utility text-stroke-hover {
  -webkit-text-stroke: 1px var(--color-yellow);
  color: var(--color-yellow);
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
